{
    "presets": ["react-native-stage-0/decorator-support"],
    "plugins": [
        "babel-plugin-transform-decorators-legacy",
        "transform-class-properties",
        "babel-plugin-inline-import"
    ]
}
