.footer-main {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0;
    border-top: $border;
    z-index: 2;
}

.footer-buttons {
    margin: 0;
    display: flex;
    align-content: center;
}

.footer-button {
    background: transparent;
    color: $secondary;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-button:disabled {
    opacity: 0.3;
}

.footer-button:hover:not(:disabled) {
    border: $border;
}
